#title {
    text-align: center;
    margin-top: 40px;
}

#explanation {
    text-align: center;
    font-size: 1.3rem;
    margin: 20px 0 30px 0;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(6, 250px);
    grid-template-rows: 250px;
    grid-gap: 20px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 15%);
    float: left;
    margin-bottom: 100px;
}

.container-current-bus {
    float: left;
}

.current-bus {
    height: 250px;
    width: 250px;
    pointer-events: none;
}


.block {
    display: block;
}

.row-container {
    float: left;
    width: 100%;
    margin-bottom: 100px;
}

.container-child {
    display: inline-block;
    padding: 20px;
    vertical-align: top;
    border: dashed blue 3px;
}

#Red {
    background-color: #7B0E0E;
}

#Brown {
    background-color: #7f6000;
}

#Green {
    background-color: #ace483;
}

#Yellow {
    background-color: #ffff02;
}

#Blue {
    background-color: #7096f9;
}

#Purple {
    background-color: #491074;
}

#NotStarted {
    background-color: black;
}

#Red:hover, #Brown:hover, #Green:hover, #Yellow:hover, #Blue:hover, #Purple:hover {
    border: 3px solid white;
    outline: 4px solid black;
}

#arrival {
    margin-top: 0px;
    margin-left: 200px;
    height: 180px;
    text-align: left;
    font-size: 1.6rem;
}

th {
    width: 300px;
}